.logHeader {
    display: flex;
    flex-direction: column;
    padding: 0 0 .5rem 0;
    gap: .5rem;
    .titleSection {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
}