body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: $font;
    background-image: url('../assets/ChatGPT\ Image\ 27\ abr\ 2026\,\ 06_09_41\ p.m..png');
    background-size: cover;
    
}